/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('normalize.css');

body {
  font-family: 'proxima-nova','Helvetica Neue', Arial, Helvetica, sans-serif;
  background-image: url(background.png)
}

header {
  font-size: 14px;
  line-height: 20px;
  background-color: #517fa4;
  width: 100%;
  height: 20px;
  padding: 1em;
  /*position: fixed;*/
  border-bottom: 1px solid #1c5380;
}

.sign_button {
  text-decoration: none;
  color: white;
  font-weight: 700;
  width: 70%;
}

#instagram_title {
  width: 30%;
  color: white;
}